{% extends "board/base.html" %}


{% block content %}

<div class="container">
<br><nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav><br>

{% for board in boards %}
<div class='row'>
	<div class='col-sm'>
		<h4><a href="{% url 'forumdisplay' board.slug %}">{{board.title}}</a></h4>
		<p>{{board.description}}</p>
	</div>
	<div class='col-sm'>
		Latest posts:
		{% if board.latest_posts %}
			{% for post in board.latest_posts %}
				<br><small><a href='{% url "postdisplay" board.slug post.pk %}'>{{post.title}}</a></small>
			{% endfor %}
		{% else %}
			<small>None</small>
		{% endif %}
	</div>
</div>
<hr>
{% endfor %}
</div>

{% endblock content %}